@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif; 
}

.EndSec{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 32, 32);
}
.EndSec p{
    color: whitesmoke;
    margin-top: 15px;
    font-size: 20px;
    text-align: justify;
}


.Resume-container{
    width: 100%;
    max-height: 400vh;
    /* background: url("./src/assets/images/background2.jpg") no-repeat center center/cover; */
    background: rgba(0, 0, 0,0.4);
}

.Resume-container .title-bar{
    width: 100%;
    display: flex;
    padding: 10px;
    background: #020024;
    background: linear-gradient(145deg, rgba(2, 0, 36, 1) 0%, rgba(214, 34, 205, 1) 35%, rgba(40, 179, 37, 1) 100%);
    position: fixed;
    top: 0;
    z-index: 1;
}

.Resume-container .title-bar h2{
    margin-left: 20px;
    color: black;
}
.Resume-container .title-bar h2 span{
    color: white;
}


.Resume-container .instruction{
    margin-left: 20px;
    padding-top: 100px;
}

.Resume-container .instruction  h4{
    font-weight: bold;
    font-size: 35px;
}
.Resume-container .instruction  p{
    font-size: 20px;
}


.Resume-container .form-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
    flex-wrap: wrap;
    /* height: 100%; */
}
.Resume-container .form-container  .img{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    
}



.Resume-container .form-container  .img .resume-format{
    top: 0;
    width: 300px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}


.Resume-container .form-container form{
    width: 50%;
    margin-top: 2%;
    padding: 40px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    background-color: rgba(245, 245, 245,0.9);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.Resume-container .form-container form #accordionFlushExample{
    background: transparent;
}

.Resume-container .form-container form #accordionFlushExample .accordion-item{
    background: transparent;
}


.accordion-button {
    background: transparent;
    font-size: 20px;
font-weight: bold;
}

.profile .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile .row .col-sm-5{
    margin: 20px;
}
.profile .row .col-sm-5 input{
    background-color: transparent;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

.profile .row .col-sm-5 input::placeholder{
    color: black;
    font-size: 20px;
}


.profile .row .col-sm{
    margin: 20px;
}

.profile .row .col-sm-12 input{
    background: none;
    border: none;
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 75%;
    outline: none;
}

.profile .row .col-sm-12 input::placeholder{
    color: black;
    font-size: 20px;
}



.profile .row .col-sm textarea{
    background: transparent;
    outline: none;
    border: none;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 80%;
}
.profile .row .col-sm textarea::placeholder{
    color: black;
    font-size: 20px;
}

/* Education details */

.education .row{
    display: flex;
}

.education .row .row{
    margin-bottom: 20px;
}

.education .row .row input{
    border: none;
    background: transparent;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    font-size: 20px;
    outline: none;
}
.education .row .row input::placeholder{
    color: black;
}

.education .row .row textarea{
    background: transparent;
    padding: 10px;
    border: 2px  solid black;
    border-radius: 10px;
    outline: none;

}

.education .row .row select{
    padding: 10px;
    background: transparent;
    border: 2px solid black;
    margin-bottom: 10px;
    outline: none;
    border-radius: 10px;
    width: 200px;
}

.education .row .row textarea::placeholder{
    color: black;
}

/* Skills */

.skills textarea{
    padding: 10px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid black;
    width: 70%;
    outline: none;
    font-size: 20px;
}

.skills textarea::placeholder{
    color: black;
}

/* Experience */
.experience{
    display: flex;
    flex-direction: column;
}

.experience textarea::placeholder{
    color: black;
}
.experience input{
    padding: 10px;
    font-size: 20px;
    color: black;
    border: none;
     border-bottom: 2px solid black;
    outline: none;
    background: transparent;
    width: 60%;
}
.experience input::placeholder{
    color: black;
}


.experience textarea{
      padding: 10px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid black;
    width: 70%;
    outline: none;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Summary */

.summary textarea{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: transparent;
    border: 2px solid black;
    font-size: 20px;
    width: 70%;

}

.summary textarea::placeholder{
    color: black;
}

/* Language */

    .language textarea::placeholder{
    color: black;
    }

    .language textarea{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: transparent;
    border: 2px solid black;
    font-size: 20px;
    width: 70%;

}

/* Projects */

  .projects textarea::placeholder{
    color: black;
    }

    .projects textarea{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: transparent;
    border: 2px solid black;
    font-size: 20px;
    width: 70%;

}

/* Achevments */

.achevments textarea::placeholder{
    color: black;
    }

    .achevments textarea{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: transparent;
    border: 2px solid black;
    font-size: 20px;
    width: 70%;

}

/* submit button */
#SubmitBtn{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

#SubmitBtn button{
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 50px;
    color: whitesmoke;
    font-size: 20px;
    background: #1dd15c;
    background: linear-gradient(306deg, rgba(29, 209, 92, 1) 0%, rgba(157, 16, 204, 1) 100%, rgba(58, 189, 91, 0.55) 16%);
    transition: 0.3s;
}

#SubmitBtn button:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



/* media quriy */

@media  (max-width:600px){
    .Resume-container .title-bar h2{
        font-size: 20px;
    }

    .Resume-container .instruction  h4{
        font-size: 25px;
    }
    



    .Resume-container .form-container form{
        flex-basis: 100%;
        margin: 0;
        margin-top: 40px;
        padding: 0;
    }

    .Resume-container .form-container  .img{
        flex-basis: 100%;
    }
    .EndSec p{
        font-size: 15px;
    }


    #SubmitBtn button{
        margin-bottom: 20px;
        margin-right: 20px;
        padding: 5px;
        font-size: 19px;
    }



    

}