 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }


  
 .Resume-page nav {
   display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 30px;
    box-shadow: rgba(8, 2, 2, 0.35) 0px 5px 15px;
    position: fixed;
    top: 0;
    width: 100%;
 }
.Resume-page nav .icon{
  display: flex;
    max-width: 400px;
}
 .Resume-page nav .icon h2{
   color: black;
    padding: 10px 30px;
 }
 .Resume-page nav .icon h2 img{
  width: 30px;
    height: 30px;
 }
 .Resume-page nav .icon h2 span{
      color:#459eff;

 }

   


  .Resume-page nav .Download{
    padding: 10px 20px;
    background: #55e691;
    background: linear-gradient(299deg, rgba(85, 230, 145, 1) 0%, rgba(16, 44, 204, 1) 100%, rgba(73, 222, 110, 0.55) 16%);
    border-radius: 50px;
    border: none;
    outline: none;
    font-weight: bold;
    color: whitesmoke;
    transition: 0.5s;   
     margin-right: 20px;

  }
    .Resume-page nav .Download:hover{
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

     .Resume-page nav .Print{
    padding: 10px 20px;
    background: #74e655;
    background: linear-gradient(278deg, rgba(116, 230, 85, 1) 0%, rgba(157, 16, 204, 1) 100%, rgba(58, 189, 91, 0.55) 16%);
    border-radius: 50px;

    border: none;
    outline: none;
    font-weight: bold;
    color: whitesmoke;
    transition: 0.5s;

    margin-right: 20px;
  }
    .Resume-page nav .Print:hover{
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }



/*  */

#Resume{
  /* margin-top: 200px; */
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: rgba(0, 0, 0,0.4);
}


 
 
 .pdf-layout {
  max-width: 1000px;
  margin: auto;
  font-family: 'Segoe UI', sans-serif;
  padding: 20px;
  background-color: white;
  color:black;
  /* border: 1px solid black; */
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
}

 .header {
  display: flex;
  flex-direction: column;
}

.header #email-phone{
  display: flex;
}
.header #email-phone #resume-phone{
  margin-right: 20px;
}
.header #email-phone #resume-Link{
    margin-left: 20px;

}


.header .location{
  display: flex;
}
.header .location .address{
  display: flex;
}
.header .location .address p{
  margin-right:10px ;
}

.header .location .address p:nth-child(2){
  margin-left: 10px;
}
.header .location .address p:nth-child(3){
  margin-left: 10px;
}
.header .location .address p:nth-child(4){
  margin-left:10px ;
}
.header .date-nation{
  display: flex;
  justify-content: space-between;
}


.summary{
  display: flex;
  flex-direction: column;
}
.summary h4{
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}
.summary p{
  text-indent: 100px;
  text-align: justify;
}


.Education{
  display: flex;
  flex-direction: column;
}

.Education h4{
  border-bottom: 2px solid black;
    padding-bottom: 5px;

}

.Education p{
text-align: justify;
text-indent: 50px;
}

.Education .Education1{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.Education .Education1 h5{
  flex-basis: 20%;
}
.Education .Education1 div{
  flex-basis: 70%;
}



.Education .Education2{
   padding: 10px;
  display: flex;
  justify-content: space-between;
}

.Education .Education2 h5{
  flex-basis: 20%;
}
.Education .Education2 div{
  flex-basis: 70%;
}
/*  */
.certification h4{
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}
/*  */

.skills h4{
  border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.skills p{
  text-align: justify;
  text-indent: 100px;
}

/*  */

.Experience {
  display: flex;
  flex-direction: column;
}
.Experience h4{
  border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.Experience p{
  text-align: justify;
  text-indent: 100px;
}

/*  */

.projects h4{
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.projects p{
  text-align: justify;
  text-indent: 100px;
}

/*  */
.AandA h4{
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.AandA p{
  text-align: justify;
  text-indent: 100px;
}

/*  */
.Language h4{
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.Language p{
  text-indent: 100px;
}

@media (max-width:600px){
     .Resume-page nav {
      padding: 0;
      margin: 0;
     }

   .Resume-page nav .icon h2{
    font-size: 18px;

   }

  .Resume-page nav .icon h2 img{
    width: 23px;
    height: 23px;
  }
  .Resume-page nav .Download{
    font-size: 16px;
    padding:  5px 7px;
    margin: 0;
    margin-right: 5px;
  }
  .Resume-page nav .Print{
    font-size: 16px;
    padding:  5px 7px;
    margin: 0;
    margin-right: 5px;

  }



}



@media print{
  .Resume-page nav{
    display: none;
  }
.Resume-page #Resume{
   padding-top: 0;
  padding-bottom: 0;
}
   .pdf-layout {
    border: none;
    box-shadow: none;
   }

   .EndSec{
    display: none;
   }

}
